<div class="content">
    <p>You are not authenticated</p>
</div>
<form action="/login" method="POST" class="footer">
    <h3>Login with:</h3>
    <button type="submit">Hardcoded user</button>
</form>
