<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SSO demo</title>
    <link rel="stylesheet" href="/style.css"/>
</head>

<body>
<div class="card">
    <div class="header">
        <h1>SSO demo!</h1>
    </div>
    <div class="content">
        <p>You are not authenticated</p>
    </div>
    <form action="/login" method="POST" class="footer">
        <h3>Login with:</h3>
        <button type="submit">Hardcoded user</button>
        <a class="button" type="submit" th:href="${loginUri}">SSO</a>
    </form>
</div>
</body>
</html>